<% flash.each do |type, msg| %>
  <div style='background-color: orange;'>
    <%= msg %>
  </div>
<% end %>

<% @posts.each do |post| %>
	<div><%= "#{post.user_id}: #{post.body}" %></div>
<% end %>

posts index content
