:root {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
}

/* delete me */
* {
	/* outline: 1px dotted red; */
}

a {
	color: white;
	/* text-decoration: none; */
}

/*
	gray lightgray lightblue
	set header, body, footer areas
	make full height

	header:
	set grid
		3 parts, header-left header-title user-area

	center header-title
	align right user-area

	center "new wispr"

	center body
*/

.posts {
	display: grid;
	/* justify-content: center; */
	height: 100%;
	grid-template-areas: 
	"header"
	"body"
	"footer";
	grid-template-rows: 75px 1fr 45px;
}

.posts .header {
	grid-area: header;
	background-color: black;
	display: grid;
	grid-template-areas: "header-unused 		header-title 		user-area";
	grid-template-columns: 1fr 1fr 1fr;
}

.header-title {
	grid-area: header-title;
	display: grid;
	place-content: center;
	color: white;
}

.user-area {
	grid-area: user-area;
	display: flex;
	justify-content: right;
	align-items: end;
	color: white;
	padding: 0.50rem 2rem;
}

.posts .body {
	grid-area: body;
	display: grid;
	justify-content: center;
	background-image: url("diagonal-lines.svg");
}

.posts .footer {
	grid-area: footer;
	background-color: black;
	display: grid;
	place-content: center;
	color: white;
}